<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/adminhome-style.css}">
</head>
<body>

	<div class="out-box">
        <div class="in-box">
            <div class="empt-box">
                <p>Welcome Back Admin! what youre upto ?</p>
            </div>
            <div class="boxes">
                <div class="box">
                    <a href="newSong"> <button class="but"> Add New Song </button> </a>
                </div>
                <div class="box">
                    <a href="viewSongs"> <button class="but">  View all songs  </button> </a>
                </div>
                <div class="box">
                    <a href="createPlaylist"> <button class="but"> Create Playlist </button> </a>
                </div>
                <div class="box">
                    <a href="viewPlaylists"> <button class="but"> View all playlists </button> </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>