<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<table border>
	<thead>
		<tr>
			<th>Name</th>
			<th>Songs</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="plist:${allPlaylits}">
			<td th:text="${plist.name}"></td>
			<td>
				<ul>
					<li th:each="song :${plist.songs}">
						<span th:text="${song.name}"></span>
						<audio controls>
							<source th:src="${song.link}" type="audio/mpeg">
						</audio>
				</ul>
			</td>
		</tr>
	</tbody>
</body>
</html>