<!DOCTYPE html>
<html>
	<head>
<meta charset="ISO-8859-1">
<title>TuneHub.</title>
<link rel="stylesheet" th:href="@{/css/index-style.css}">
	</head>
	<body>
	
	<div class="out-box">
        <div class="in-box">
            <div class="empt-box">
                <h1> TuneHub. </h1>
                <p>Break your eardrums with epic beats !</p>
            </div>
            <div class="hr">
            </div>
            <div class="boxes">
                <div class="box">
                    <a href="login"> <button class="but"> Login </button> </a>
                </div>
                <div class="box">
                    <a href="register"> <button class="but"> Register </button> </a>
                </div>
            </div>
        </div>
    </div>

	</body>
</html>
